<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>列表</h1>
        <table>
        <tr>
            <td>标题</td>
            <td>作者</td>
            <td>创建时间</td>
        </tr>
        <% for(var i = 0, len = data.length; i < len; i++) {%>
            <tr>
            <td><a href="/list/<%= data[i].id %>" title="<%=data[i].title %>"><%= data[i].title %></a></td>
            <td><%= data[i].username %></td>
            <td><%= data[i].createtime %></td>
            </tr>
        <% } %>
        </table>
        <div class="add">
        <% if(user.username){ %>
            <p> <input type="text" class="title"> </p>
            <textarea rows="10" cols="100" class="content"></textarea>
            <p> <input type="button" class="submit" value="提交"> <span class="tip"></span> </p>
        <% } %>
        </div>
    </body>
    <script type="text/javascript" src="http://mat1.gtimg.com/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        var running = false;
        $('.submit').on('click', function(){
            if(running) return;
            running = true;
            $('.tip').text('');
            var title = $('.add .title').val();
                content = $('.add .content').val();
            if(!title || !content){
                $('.tip').text('*输入不能为空');
                return;
            }
            $('.tip').text('数据正在提交中...');
            $.ajax({
                url : '/list/addtopic',
                data : {title:title, content:content},
                dataType : 'json',
                type : 'get'
            }).done(function(result){
                if(result.code==0){
                    var html = '<tr><td><a href="'+result.data.url+'" title="'+result.data.title+'">'+result.data.title+'</a></td><td>'+result.data.author+'</td><td>'+result.data.createtime+'</td></tr>';
                    $('table').append(html);
                    $('.tip').text('');
                    $('.title, .content').val('');
                }
                else{
                    $('.tip').text('添加失败');
                }
                running = false;
            })
        })
    </script>
</html>